img{
width: 100%;

}
.rebellion{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    
}
footer{
    text-align: center
}
.grid-container{
    display: grid;

}